.child {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input {
  border: 1px solid black;
}

button {
  display: block;
  background-color: white;
  border: 1px soliwidth: 376.8px;d black;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 0;
}

p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}